<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div class="container-fluid">
    <span class="navbar-brand ms-2"><i class="fa-solid fa-stethoscope fa-xl mx-2"></i></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="list-fichaCardio" data-toggle="collapse" data-target="#navbarSupportedContent">Listado Fichas</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="create-fichaCardio" data-toggle="collapse" data-target="#navbarSupportedContent"
            [ngClass]="{'disabled': usuario == null}"
          >Agregar Ficha</a>
        </li>
        <li class="nav-item ms-2">
          <a class="nav-link" routerLink="list-items" data-toggle="collapse" data-target="#navbarSupportedContent"
            [ngClass]="{'disabled': usuario == null}"
          >Items</a>
        </li>
      </ul>

      <li class="nav-item dropdown d-flex" *ngIf="usuario == null">
        <button (click)="login()" class="btn btn-primary">Log In</button>
      </li>

      <li class="nav-item dropdown d-flex" *ngIf="usuario != null">
        <a class="text-light nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{usuario.displayName}}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item disabled" disabled>{{usuario.email}}</a></li>
          <li><a (click)="logout()" class="dropdown-item">Sign Out</a></li>
        </ul>
      </li>
 
    </div>
  </div>
</nav>