<div class="fluid-container">
    <div class="container my-2">
        <div class="row">
            <div class="col">
                <span class="h3">Listado de Fichas</span>
            </div>
            <div class="col">
                <button class="btn btn-primary float-end mx-1" routerLink="/create-fichaCardio">Agregar</button>
                <button class="btn btn-success float-end mx-1">Exportar</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <!-- <h5 *ngIf="usuarios.length == 0" class="mt-5">No hay Usuarios</h5> -->
            <!-- <table *ngIf="usuarios.length > 0" class="table table-striped mt-5"> -->
                <div class="table-responsive">
                <table  class="table table-striped">
                <thead>
                  <tr>
                      <th>Nombre</th>
                      <th>Edad</th>
                      <th>Sexo</th>
                      <th>Dias Internacion</th>
                      <th>Factores de Riesgo</th>
                      <th>Antecedentes</th>
                      <th>Clase Funcional</th>
                      <th>Inter. Previas</th>
                      <th>Medicacion Habitual</th>
                      <th>Forma de Presentacion</th>
                      <th>Causa Descompensante</th>
                      <th>ECG Ingreso</th>
                      <th>Ecocardiograma al Ingreso</th>
                      <th>Laboratorio</th>
                      <th>Tratamiento</th>
                      <th>Requirio BCIA?</th>
                      <th>Requirio IOT/ARM?</th>
                      <th>Requirio Dialisis?</th>
                      <th>CDI/TRC implantado en la internacion</th>
                      <th>Obito</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr *ngFor="let e of usuarios"> -->
                <tr>
                    <td>Nombre</td>
                    <td>Edad</td>
                    <td>Sexo</td>
                    <td>DiasInternacion</td>
                    <td>FactoresdeRiesgo</td>
                    <td>Antecedentes</td>
                    <td>ClaseFuncional</td>
                    <td>Inter.Previas</td>
                    <td>MedicacionHabitual</td>
                    <td>FormadePresentacion</td>
                    <td>CausaDescompensante</td>
                    <td>ECGIngreso</td>
                    <td>EcocardiogramaalIngreso</td>
                    <td>Laboratorio</td>
                    <td>Tratamiento</td>
                    <td>RequirioBCIA?</td>
                    <td>RequirioIOT/ARM?</td>
                    <td>RequirioDialisis?</td>
                    <td>CDI/TRCimplantadoenlainternacion</td>
                    <td>Obito</td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
    </div>
</div>